:root {
    --app-bkg: #EFF2F4;

    --input-color: #432000;
    --input-bkg: #DCE1EB;

    --btn-color: #FDFDFD;
    --btn-bkg: #AC485A;
    --btn-radius: .5rem;
    --btn-padding: .75rem 1rem;
    --btn-f-size: 1.125rem;
    --btn-line-h: 1.2;

    --list-item-bkg: #fffdf8;
    --list-item-shadow: 0 1px 4px rgba(0,0,0,.2);

    --btn-hover: #432000;
    --list-item-hover: #ffecc7;

    --bought-list-bkg: grey;
    --bought-list-color: white;

    --bought-list-hover: black;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: var(--app-bkg);
    user-select: none;
}

body {
    display: grid;
    place-content: center;
}

h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

input {
    color: var(--input-color);
    background-color: var(--input-bkg);
    
}

button {
    color: var(--btn-color);
    background-color: var(--btn-bkg);
    border: none;
    font-weight: 600;
}

/*app styles*/
#app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    row-gap: 1rem;
    max-width: 375px;
    background: var(--app-bkg);
    padding: 1.5rem;
    min-height: 440px;
}

#app-img {
    width: 150px;
    align-self: center;
    -webkit-user-drag: none;
}

#input-field,
#add-button {
    border: none;
    text-align: center;
    padding: var(--btn-padding);
    border-radius: var(--btn-radius);
    font-size: var(--btn-f-size);
    line-height: var(--btn-line-h);
    font-family: 'Rubik', sans-serif;
}

#input-field::placeholder { opacity: .6; }

#add-button {
    border-radius: var(--btn-radius);
    padding: var(--btn-padding);
    font-weight: 300;
    transition: background 300ms ease;
}

.delete-btn {
    border-radius: 50rem;
    height: 1.5rem;
    width: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1;
    position: absolute;
    inset: 50% .5rem auto auto;
    transform: translateY(-50%);
}

#add-button:hover { background: var(--btn-hover); cursor: pointer; }

.instructions-heading {
    font-size: 1.125rem;
    color: var(--input-color);
}

.instructions {
    font-size: .85rem;
    line-height: 1.5;
}

#shopping-list,
#bought-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    align-items: stretch;
    text-align: center;
}

#shopping-list li,
#bought-list li {
    position: relative;
    flex-grow: 1;
    padding: 1rem 2.5rem 1rem 1rem;
    background-color: var(--list-item-bkg);
    box-shadow: var(--list-item-shadow);
    border-radius: .45rem;
    color: var(--input-color);
    transition: background 300ms ease;
}

#shopping-list li:hover  { background: var(--list-item-hover); cursor: pointer; }

.empty-list {
    text-align: center;
    display: block;
    width: 100%;
    font-size: 1.3rem;
    color: var(--input-color);
    font-style: italic;
}

#bought-list li {
    background: var(--bought-list-bkg);
    color: var(--bought-list-color);
}

#bought-list li:hover { background: var(--bought-list-hover); cursor: pointer; }
